extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jonathon Cisneros

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hello, my name is Jonathon Cisneros and I am a self-taught web developer. I love learning new web technologies and discovering new web designs. My portfolio is easily designed for you, my future employer, to enjoy my work. If you are looking for a positive, motivated individual, then look no futher. Am I hired yet?
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML & Pug
          li CSS
          li JavaScript 
          li jQuery
          li Node.js
          li Express.js 
          li BootStrap 
          li Git & GitHub
          li PHP
          
        h6 Contact Info
        ul
          li 805-791-0242
          li cisneros.jonathon@gmail.com

        a.button.expanded(href='https://github.com/JonathonCisneros', target='_blank') GitHub
        a.button.expanded(href='https://www.linkedin.com/in/jonathoncisneros/', target='_blank') LinkedIn
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
