extends layout

block content
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/images/desk.svg')
    br
    a.button-primary-small(href='/') â† Back
    br 
    .paper
      pre.stack-trace= error.stack
    .tear
